* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif; /* used similar font */
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: 1fr auto;
}

footer {
  background-color: #9BC1BC;
  padding: 20px;
}

.title h1 {
  font-size: 64px;
}

.container {
  grid-area: main;
  display: grid;
  gap: 20px;
  padding: 20px;
  
}

/* Container One  */
.one {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 50vh; 
}

.left-top {
  grid-column: 1;
  grid-row: 1;
  background-color: #007F5F;
}
.left-middle {
  grid-column: 1;
  grid-row: 2;
  background-color: #2B9348;
}

.center-big {
  grid-column: 2;
  grid-row: 1 / span 2;
  background-color: #80B918;
}

.right {
  grid-column: 3;
  grid-row: 1 / span 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}
.right-top {
  background-color: #DDDF00;
}
.right-middle {
  background-color: #EEEF20;
}
.right-bottom {
  background-color: #FFFF3F;
}

/* Container Two  */
.two {
  grid-template-columns: 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  height: 50vh; 
}

.left-bottom {
  grid-column: 1;
  grid-row: 1;
  background-color: #55A630;
}

.small {
  grid-column: 2;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.small-top {
  background-color: #AACC00;
}

.small-bottom {
  background-color: #BFD200
}

.wide {
  grid-column: 3;
  grid-row: 1;
  background-color: #D4D700;
}

.right-tall {
  grid-column: 4;
  grid-row: 1;
  background-color: #007F5F;
}
